        /* base font family and size for rems (and ems) */
html, body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

        /* general styles */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
}

        /* header layout */
header {
  height: 4rem;
}

.logo {
  margin-left: 1.5rem;
}

.logo strong {
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  margin-right: .5rem;
}

nav span {
  margin-right: 1rem;
}

        /* banner layout */
.banner {
  background-color: lightgray;
}

.banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}

        /* information layout */
.main {
  width: 60%;
  margin: 2rem 1.5rem;
}

.side {
  width: 423px;
}

.main img {
  width: 100%;
}

.side img {
  width: 35%;
  margin: 1rem;
}

        /* courses layout */
.courses {
    background-color: lightgray;
}

.courses h2 {
  margin: 1rem;
}

.row {
  width: 80%;
}

.course {
  height: 220px;
  margin: 1rem;
}

.course img {
  width: 100%;
}
